<meta charset="UTF-8">
<title>ECE AST Labs</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>

<div class="row">
    <button class="btn pull-right" style="margin-right:15px; margin-bottom:10px;" href="/logout" onClick='document.location.href="/logout"'><span class="glyphicon glyphicon-log-out"></span> Disconnect</button>
  </div>

<script src="/jquery.min.js"></script>
<script src="/js/bootstrap.min.js" /></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
