<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
  <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">
			<ul><li> If you want this page to say hello go to <a href="/hello/stranger">/hello/<b>[your name]</b></a></li><br>
				<li>If you want a short description of me go to <a class="btn btn-sm btn-success" role ="button" href="/hello/Lisa">Click here!</a></li>
		</p>
   </div>
  </body>
</html>


