<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
	  <div class="jumbotron">
			<h1 class="display-3">Hello <%= name %></h1>
			<p class="lead">Type in any name to have fun !</p>
	   </div>
	   <a class="btn btn-primary"  role="button" href="/">Go Back</a>
  </body>
</html>