<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">
  <div class="row">
      <button class="btn btn-danger pull-right" href="/logout" onClick='document.location.href="/logout"'> Logout</button>
    </div>
    <div class="jumbotron">
			<h1 class="display-3">Hello <%= name %>!</h1>
      <h3>Welcome to your dashboard</h3>
	   </div>
     <button class="btn btn-lg btn-success" id="show-metrics">Bring the metrics</button>
     <button class="btn btn-lg btn-primary" href="/metrics/" onClick='document.location.href="/metrics/"'>Add metric</button>
     <button class="btn btn-lg btn-danger" href="/metrics/delete" onClick='document.location.href="/metrics/delete"'>Delete metric</button>

    <div id="metrics"></div>
  </div>
</body>

<script>
  $('#show-metrics').click((e) => {
    e.preventDefault()
    $.getJSON('/metrics.json', {}, (data) => {
      const content = data.map(d => {
        return `<p style="padding-top: 10px">timestamp: ${d.timestamp}, value: ${d.value}</p>`
      })
      $("#metrics").append(content.join("\n"))
    })
  })
</script>

</html>
