<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
  <div class="jumbotron">
        <h1 class="display-3">Hi!</h1>
        <p class="lead">
			<p>My name is Lisa.</p>
			<p> I am 22 years old and studying at ECE Paris.</p>
			<p>I am taking an Asynchronous Server Technologies Class.</p>
		</p>
   </div>
   <a class="btn btn-primary"  role="button" href="/">Go Back</a>
  </body>
</html>


